:root{
    --text-color:#fff;
    --bg-color:#f0f;
}
header {
    background: url(/chloe-png.png);
    /* background-image: url(/assignment/media/butterfly-7402310__340.webp); */
    /* background-position: right; */
    background-size: cover;
    height: 700px;
    border: 10px solid var(--bg-color);
    padding: 30px;
  }
  header ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    float: right;
    margin-left: 30px;
    margin-top: -20px;
  }
  header ul li {
    font-size:large;
    padding: 20px;
    color:var(--bg-color);
  }

  a {
    text-decoration: none;
  }

  h1 {
    font-size: 6rem;
    color: var(--bg-color);
  }
  .span {
    color: var(--bg-color);
    font-size: 2rem;
  }
  .product{
    display: flex;
    justify-content: space-evenly;
  }
  .button {
    background-color:var(--bg-color);
    margin-top: 444px;
     padding: 9px 14px;
     border-radius: 22px;
     font-weight: bold;
     font-size: 21px;    
     margin: 0 3px;
     cursor: pointer;
     width: 20vw;
     height: 20vh;
     }

  table{
    background-image: url(/assignment/media/snow\ bckgrdd.jpg);
    background-size: cover;
    height: 40vh;
    /* border: 10px double var(--bg-color); */
  }
  td{
    font-size: 24px;
  }
  li:hover{
    text-transform: capitalize;
    background-color:var(--bg-color);
    transition: all 3s linear;
    transform: scale(0.8);
  }
  .button:hover{
    /* background: var(--text-color); */
    transition: all 4s linear;
    background-image: url(/assignment/media/girl-6024561__340.jpg);
  }
  .container1{
    display: flex;
    justify-content: space-evenly;
    border: 10px solid var(--bg-color);
  }
  .p1{
     color: var(--text-color);
  }
  .sect1{
    display: block;
    background-color: var(--bg-color);
    height: 50vh;
    background-size: cover;
    padding: 80px;
    border: 10px dotted var(--text-color);
  }
  .sect1 > p{
    font-size: 25px;
    color: var(--text-color);
    /* border: 5px solid var(--text-color); */
  }
  h2{
    font-size: 50px;
    color: var(--text-color);
  }
  .button2:hover{
    background-image: url(/assignment/media/bunny-155674__340.webp);
    transition: all 3s linear;
    transform: rotate(360deg);
  }
  .button2{
    background-color:var(--bg-color);
    margin-top: 444px;
     padding: 9px 14px;
     border-radius: 22px;
     font-weight: bold;
     font-size: 21px;    
     margin: 0 3px;
     cursor: pointer;
     width: 20vw;
     height: 20vh;
  }
  .button1{
    background-color:var(--bg-color);
    margin-top: 44px;
     padding: 9px 14px;
     border-radius: 22px;
     font-weight: bold;
     font-size: 21px;    
     margin: 0 3px;
     cursor: pointer;
     width: 10vw;
     height: 10vh;
  }
  .button1:hover{
    transition: all 3s linear;
    transform: rotate(180deg);
    background-image: url(/assignment/media/elephant-5553128__340.webp);
  }
  .audio-player {--player-button-width: 3em;--sound-button-width: 2em; --space:.5em;}

     .foot{
      background-image: url(/assignment/media/cupid-5782975__340.webp);
      display: flex;
      align-items: space-evenly;
      height: 15vh;
      color: var(--text-color);
      border: 10px dotted var(--bg-color);
      justify-content: center;
      /* flex-direction: row; */
    }